<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Manager Task List</title>
</head>
<body>
<div class="container">
    <h3>Manager's employee Tasks</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Task Id</th>
            <th>Assignee Id</th>
            <th>Assignee Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Latest Note</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempTask : ${tasks}"
            th:class="${tempTask.status == 'COMPLETION_REQUESTED' ? 'table-info' : (tempTask.status == 'COMPLETED' ? 'table-success' : '')}">

            <td th:text="${tempTask.id}"/>
            <td th:text="${tempTask.assignee.id}"/>
            <td th:text="${tempTask.assignee.userName}"/>
            <td th:text="${tempTask.title}"/>
            <td th:text="${tempTask.description}"/>
            <td th:text="${tempTask.latestNote}"/>
            <td th:text="${tempTask.status}"/>
            <td>
                <div class="row" >
                    <div class="row" >
                        <div th:if="${tempTask.status == 'COMPLETION_REQUESTED'}">
                            <form action="#" th:action="@{/manage/processTaskCompletionRequest}" method="POST">
                                <input type="hidden" name="taskId" th:value="${tempTask.id}" />
                                <input type="hidden" name="managerId" th:value="${managerId}" />
                                <label>
                                    <input type="text" name="newNote" placeholder="Enter new note" required/>
                                </label>
                                <label>
                                    Action:
                                    <select name="action">
                                        <option value="accept">Accept</option>
                                        <option value="reject">Reject</option>
                                    </select>
                                </label>
                                <button type="submit" class="btn btn-info btn-sm me-1" style="float:left;">Proceed</button>
                            </form>
                        </div>

                        <form action="#" th:action="@{/manage/showFormForTaskUpdate}" method="POST">

                            <input type="hidden" name="taskId" th:value="${tempTask.id}" />
                            <input type="hidden" name="managerId" th:value="${managerId}" />
                            <button type="submit" class="btn btn-info btn-sm me-1" style="float:left;">Update</button>

                        </form>

                        <form action="#" th:action="@{/manage/delete}" method="POST">

                            <input type="hidden" name="taskId" th:value="${tempTask.id}" />
                            <input type="hidden" name="managerId" th:value="${managerId}" />
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this task?'))) return false">
                                Delete
                            </button>

                        </form>

                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<div>
    <form action="#" th:action="@{/manage/showFormForTaskUpdate}" method="POST">
        <input type="hidden" name="managerId" th:value="${managerId}" />
        <button type="submit" class="btn btn-info btn-sm me-1" style="float:left;">Add Task</button>
    </form>
</div>

<br>

<hr>
<a class="btn btn-primary" th:href="@{/}">Go back home</a>

<hr>
<a class="btn btn-primary" th:href="@{/login}">Go back to log in</a>
</body>
</html>